/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size: 62.5%;
}

body {
    
}

main {
     border: 2px solid black;
     display: flex;
     justify-content: center;
}
main div {
     border: 2px solid lightgreen;
     height: 175px;
     width: 15%;
}

h2 {
     font-size: 1.8rem;
}



footer {
     display: flex;
     justify-content: space-evenly;
}

footer section {
     border: 2px solid black;
     width: 25%;
     margin-top: 10%;
     padding: 4rem;
}

footer img {
     border: 2px solid red;
}

.action {
     display: flex;
     justify-content: center;
     column-gap: 10rem;
}

h1, h2, h3 {
     text-align: center;
}

.stat-table {
     display: flex;
     justify-content: center;
}

.stat-table figure{
     border: 2px solid black;
}

input {
     padding: .3rem 0;
     border-radius: .5rem;
     border: 2px solid black;
     font-size: 2rem;
     text-align: center;
}

button {
     font-size: 2rem;
     padding: 0 2rem;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.add {
     display: block;
     margin: 6rem auto 0 auto;
}